
body {
    text-align: center;
    background-color: rgb(97,164,187); 
}

#formContent {
    font-weight: bold;
}
img {
    width: 90px;
    height: 90px;
    float: left;
}
    
#idCard {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: rgb(238,196,203);
    margin: 0 auto;
    margin-top: 3em;
    border: 5px solid black;
    border-radius: 25px;
    height: 14em;
    width: 25em; 
}

#postFullName {
    font-size: 1.75em;
    border: 1px solid blue;
}

.info {
    border:1px dotted yellow;
    width: 75%;
    text-align: left;
    /* margin-top: 3em; */
}
