body {
    text-align: center;
    background-color: rgb(97,164,187); 
}



img {
    width: 90px;
    height: 90px;
    float: left;
}
    
#idCard {
    margin: 0 auto;
    margin-top: 3em;
    border: 5px solid black;
    height: 15em;
    width: 25em; 
}